.cartContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    z-index: 10;
}

.shoppingCart {
    width: 70%;
    height: 90%;
    margin: 2rem auto;
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;

}

.shoppingCart .header {
    display: flex;
    background: #ffffff82;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #343434;
    padding: 10px 20px;
    justify-content: space-between;
}



.empty-text {
    display: block;
    padding: 2rem;
    margin: auto;
    font-size: 1.2em;
}

.shopping-cart-btn {
    align-self: flex-end;
    position: relative;
    top: -4.3em;
    right: 55px;
    border: none;
    background-color: rgb(255 221 163 / 3%);
    border: black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}

.shopping-cart-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px, rgba(0, 0, 0, 0.45) 0px 1px 2px;
}

.product-count {
    padding: 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -18px;
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    width: 80%;
    margin: 0 auto;
}

.cart-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    background-color: #fff;
    padding: 10px 20px;
    border: 3px solid #eee;
}

.close-btn {
    cursor: pointer;
}

.product-info h3 {
    font-weight: 400px;
    font-size: 1rem;
}

.cart-product select {
    width: 70px;
    font-size: 1rem;
    outline: none;
}

.cart-products img {
    width: 100px;
    background-color: #fff;
}

.checkout-btn {
    border-radius: 2em;
    border: none;
    background-color: rgb(255 221 163);
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    align-self: center;
    margin: 2rem 0;
    cursor: pointer;


}

.checkout-btn:hover {
    color: #ff005e;
}

.addToCartBtn {
    width: 10em;
    height: 2em;
    border: none;
    background-color: #ff5151;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px 20px 50px 20px;
    transition: 0.6s ease;

}


.addToCartBtn:hover {
    color: white;
    background-color: brown;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



.countOfCakes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.incBtn {
    width: 25px;
    margin: 5px;
}

.decBtn {
    width: 25px;
    margin: 5px;
}